.prodInfo{
    background-color: white;
    display: flex;
    padding: 20px;
}

.prodInfo img{
    flex: 1;
}

.prodDiv{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
}


.prodName {
    font-size: 30px;
    font-weight: 600;
    
}

.prodGrams{
    margin-top: 10px;
    color: #F46D40;
    font-weight: lighter;
}

.prodPrice{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.prodСompos{
    margin-top: 15px;
    font-weight: bold;
}

.counter{
    display: flex;
    justify-content: center;
}

.wantBtn{
    margin-top: 20px;
    background-color: #F46D40;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    color: white;
    transition: 0.2s;
}

.wantBtn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.navigButton{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 35px;
    
}


.prodSlider{
    padding-top: 30px;
}


.navigButton :hover{
    transition: 0.2s;
    opacity: 0.5;
    cursor: pointer;
}
.loader {
    margin: 200px;
    border: 12px solid #f3f3f3; 
    border-top: 12px solid #F46D40;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media screen and (max-width: 460px) {
    .prodInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prodInfo img{
        max-width: 200px;
    }
}