.wrapper {
  padding: 55px 10px 10px 40px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
}

.title {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--color-gray);
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 500;
}

.bottom {
  display: grid;
  grid-template-columns: 95px 1fr;
  gap: 5px;
}

.totalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.buyButton {
  font-size: 18px;
}
.wrap {
  transition: max-width 1s;
}

.closeBtn {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  font-weight: bold;
}
.closeBtn:hover {
  color: var(--primary-color);
}
.opened {
  max-width: 360px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  background-color: white;
}
.closed {
  max-width: 0;
  height: 0;
}
.content {
  transition: opacity 0.5s;
  animation: fadein 1s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
