.categories_list {
  margin-top: 30px;
  display: grid;
  gap: 15px;
}

.categories_item {
  max-width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}


.categories_item img {
  display: flex;
  flex: 1;
}

.categories_item h1 {
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-decoration: none;
  color: #fff;
}

.last_item {
  grid-area: 2 / 2 / span 2 / span 2;
}

.last_item h1 {
  bottom: 20%;
  left: 5%;
}

@media screen and (max-width: 460px) {
  .categories_list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 160px);
  }

  .categories_item:nth-child(1),
  .categories_item:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .categories_item img {
    width: 100%;
  }

  .categories_item:nth-child(4) {
    display: none;

  }

  .last_item {
    grid-area: auto;
  }

}

