.header {
  display: flex;
  border-bottom: 1px solid #a4acad;
  align-items: center;
}

.header__contact {
  border-right: 1px solid #a4acad;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 16px;
}

.header__contact > a {
  color: #ff9846;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.header__contact > h3 {
  font-size: 16px;
}

.header__working_hous {
  display: flex;
  align-items: center;
  gap: 3px;
}

.header__working_hous > p {
  color: #a4acad;
  font-size: 14px;
  padding-bottom: 3px;
}

.header__right {
  display: flex;
  flex: 1;
  height: 100%;

  justify-content: space-between;
  align-items: center;

  padding: 0px 40px 0px 25px;
}

.header__city > p {
  font-weight: 300;
  color: #a4acad;
}

.header__city > button {
  font-weight: 400;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  gap: clamp(20px, 2.5vw, 70px);
}

.navigation__links {
  display: flex;
  gap: 10px;
}

.navigation__links a {
  text-decoration: none;
  color: #111111;
}
.navigation__links a:hover {
  color: #ff9846;
  transition: all 0.15s ease-in;
}
.cartBtn {
  display: block;
  cursor: pointer;
}
.cartBtn::after {
  content: attr(data-count);
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  padding: 2px 5px;
  border-radius: 100%;
  color: white;
  font-weight: bold;
}

@media (max-width: 1090px) {
  .navigation__links {
    display: none;
  }
}

@media (max-width: 400px) {
  .cartBtn {
    display: none;
  }
}
