.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    margin-top: 100px;
    padding-bottom: 50px;
    border-top: 1px solid;
}

.content {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: medium;
    gap: 10px;
    color: #C1C6C7;
}


.content:last-child{
    border: none;
}

.content a {
    text-decoration: none;  
    color: #000;
    font-weight: 640;
    font-size: larger;
}

.content a:hover {
    color: #C1C6C7;
    transform: scale(1.1);
    transition: 0.2s;
}
.center{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: medium;
    gap: 10px;
    padding-left: 50px;
    color: #C1C6C7;
}

.right{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 18px;
    color: #C1C6C7;
    gap: 5px;
}

.right a {
    color: #C1C6C7;
    font-size:  18px;
}

.content_paragraph {
    font-weight: 700;
    font-size: large;
    color: #000;
}

p{
    font-size: larger;
}

.underlined{
    font-size: larger;
    text-decoration: underline;
}

.socials{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

img{
    max-width: 50px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    opacity: 0.5;
}
img:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.2s;
}