.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: white;
  padding: 4px 19px 10px 14px;
  border-radius: 15px;
  position: absolute;
  right: 0;
  font-size: 16px;
  overflow: hidden;
  transition: max-height 0.6s;
}
.opened {
  max-height: 300px;
}
.opened .expandable {
  opacity: 1;
}

.closed {
  max-height: 70px;
}
.closed .expandable {
  opacity: 0;
}
.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.arrow {
  transition: 200ms linear all;
}
.down {
  transform: rotate(0deg);
}
.up {
  transform: rotate(180deg);
}
.title {
  font-size: 14px;
  color: var(--color-gray);
}

.select {
  border: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 198px;
  gap: 15px;
}
.selected {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
}
.option {
  cursor: pointer;
}
.option:hover {
  color: var(--primary-color);
}

.expandable {
  transition: opacity 0.6s;
}

@media (max-width: 440px) {
  .select {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
}
