.container {
  display: flex;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 10px;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin: 0px 10px 10px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-gray);
}
.header > a {
  color: var(--primary-color);
  font-weight: 600;
}
.workingHours {
  display: flex;
  gap: 5px;
  color: var(--color-gray);
  justify-content: center;
}
.paymentWrapper {
  padding: 0 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 20px;
}
.title {
  font-size: 24px;
  font-weight: 600;
  justify-self: start;
}
.userContact {
  grid-column: 1/2;
  display: flex;
  gap: 20px;
}
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.split button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 53px;
  height: 40px;
  font-size: 18px;
}

.split :nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.split :nth-child(2) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.splitSelected {
  color: white;
  background-color: var(--primary-color);
}
.userLocation {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}
.userLocation :nth-child(1) {
  grid-column: 1/5;
}
.cart {
  width: 400px;
}
