:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-color: #F46D40;
  --color-gray: #99A1A2;
  --color-black: #111111;

  --main-width: 950px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
