:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-color: #f46d40;
  --color-gray: #99a1a2;
  --color-black: #111111;

  --main-width: 950px;
  input,
  textarea {
    margin-bottom: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__small {
  max-width: 750px;
  margin: 0 auto;
}

.container__large {
  max-width: 830px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}
