
.product_item{
    display: grid;
    flex-direction: column;
    
    padding: 19px 9px 10px;

    background-color: #fff;
}

.product_item img{
    width: 100%;
}

.product_item header {
    max-width: 200px;
}

.product_item footer{
    border-top: 1px solid #A4ACAD;
}